<div class="stepper">
    <div class="step active">
      <div class="circle pointer"></div>
      <span class="pointer">Início</span>
    </div>
    <div class="line"></div>
    <div class="step">
      <div class="circle pointer"></div>
      <span class="pointer">Documentos</span>
    </div>
    <div class="line"></div>
    <div class="step">
      <div class="circle pointer"></div>
      <span class="pointer">Dados cadastrais</span>
    </div>
    <div class="line"></div>
    <div class="step">
      <div class="circle pointer"></div>
      <span class="pointer">Admissão</span>
    </div>
  </div>
  