@use '../../../styles.scss';

.example-header {
    position: fixed;
    top: 0;
    left: 100px;
    right: 0;
    background: styles.$white;
    height: 89px;
}

.texts{
    margin-left: 24px;
}

.title{
    font-family: Exo;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.subTitle{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: styles.$gray2;
}

