<mat-toolbar class="example-header">
    <div class="texts">
        <div class="title">NOVA ADMISSÃO COOPERADO</div>
        <div class="subTitle">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</div>
    </div> 
    <div class="actions">
        <i class="bi bi-bell alerts pointer"></i>
        <div class="select-btn d-flex pointer">
            <h3 class="select-font">VIACREDI</h3>
        </div>
        <div class="img-div pointer">
            <img class="avatar" src="assets/img/avatar.png">
        </div>
    </div>
</mat-toolbar>
