@use '../../../styles.scss';

.example-header {
    position: fixed;
    top: 0;
    left: 100px;
    right: 0;
    background: styles.$white;
    height: 89px;
}

.texts{
    margin-left: 24px;
}

.title{
    font-family: Exo;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.subTitle{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: styles.$gray2;
}

.actions {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
}

.select-btn{
    width: 109px;
    height: 32px;
    border-radius: 15px;
    border-width: 1px;
    margin-right: 20px;
    border: 1px solid styles.$primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alerts{
    color: styles.$primary;
    font-size: 24px;
    margin-right: 20px;
}

.img-div{
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid styles.$primary;
}

.avatar{
    width: 40px;
}

.select-font{
    font-weight: 700;
    color: styles.$primary;
}

