@use '../styles.scss';

.example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background: styles.$primary;
}

.content{
    margin-top: 29px;
}

.sidenav{
    overflow: hidden;
}