@use '../../../styles.scss';

ul {
    margin-left: 2px;
    list-style-type: none;
    li {
        padding-bottom: 30px;
        &.btn-expand{
            margin-top: 68px;
            .icon-expand{
                color: styles.$gray5;
            }
        }
        .bi {
            color: styles.$light-gray;
            font-size: 25px;
        }
    }
}

.active i {
    color: styles.$white !important;
}

.logo{
    position: absolute;
    width: 60px;
    top: 19px;
    right: 20px;
}