:host{
    position:absolute;
    padding: 20px;
    width: 100%;
}

.search-div{
    display: flex;
}

.btn-search{
    margin-left: 10px;
}

.cards-div{
    margin-top: 20px;
}

.div-card{
    margin-right: 20px;
}